.post div div{
    margin-bottom: 0.2rem;
}
.status{
    margin-top: 0.5rem;
}

.title {
    text-align: center;
}

.post-content{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
}

.writer {
    margin-top: 1rem;
    text-align: right;
}

.date{
    margin-top: 1rem;
    text-align: right;
}

.writer-count {
    text-align: right;
    margin-top: 1rem;
    color: red;
    font-size: 1.3rem;
}