<page-header [title]="''">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/hotel']">酒店管理</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>标签管理</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>
<nz-card [nzBordered]="false">
  <div class="card-btn">
    <button nz-button (click)="addTag()"><i class="anticon anticon-plus"></i>新增</button>
  </div>
  <nz-table #filterTable [nzData]="tagList" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>标签名</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td>{{data.name}}</td>
        <td>
          <a (click)="editTag(data.id)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="deleteTag(data.id)">删除</a>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<nz-modal [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="tagContent" [nzFooter]="false" (nzOnCancel)="handleCancel()"
  [nzWidth]="600" (nzOnOk)="saveTag()">
  <ng-template #tagContent>
    <div class="form">
      <form nz-form>
        <nz-form-item>
          <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="tagName">标签名</nz-form-label>
          <nz-form-control nzXs="24" nzSm="12" nzMd="10">
            <input nz-input [(ngModel)]="tag.name" name="tagName" placeholder="请填入标签名">
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </ng-template>
</nz-modal>
