.order-base {
    margin-top: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-right: 1px solid #ccc;
}

.order-user {
    margin-top: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.order-card {
    margin-top: 1rem;
}

.step-line {
    nz-step{
        white-space: pre;
    }
}

.font-css {
    background-color: #eee;
    font-size: 1.8rem;
}

.good-homeImage{
    width: 3rem;
    height: 3rem;
}
